In [1]:
import numpy as np;
import pandas as pd;
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",
names =["sepal length","sepal width","petal length","petal width","class"])

In [2]:
data

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
data["sepal width"].mean()

3.0540000000000007

In [4]:
data.loc[:,"sepal width"].mean()

3.0540000000000007

In [5]:
data["sepal width"].mode()

0    3.0
dtype: float64

In [6]:
data.loc[:,"sepal width"].mode()

0    3.0
dtype: float64

In [7]:
data["sepal width"].median()

3.0

In [8]:
data.loc[:,"sepal width"].median()

3.0

In [9]:
data.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
data["sepal width"].std()

0.4335943113621737

In [11]:
data["sepal width"].min()

2.0

In [12]:
data["sepal width"].max()

4.4

In [13]:
data[["sepal width","sepal length"]].groupby("sepal width").mean()

             sepal length
sepal width
2.0              5.000000
2.2              6.066667
2.3              5.325000
2.4              5.300000
2.5              5.762500
2.6              6.160000
2.7              5.855556
2.8              6.335714
2.9              6.060000
3.0              6.015385
3.1              5.941667
3.2              5.884615
3.3              6.016667
3.4              5.316667
3.5              5.150000
3.6              5.600000
3.7              5.266667
3.8              6.100000
3.9              5.400000
4.0              5.800000
4.1              5.200000
4.2              5.500000
4.4              5.700000

In [14]:
data.prod()

C:\Users\D_COMP~1\AppData\Local\Temp/ipykernel_1136/982070212.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.prod()

sepal length    2.257440e+114
sepal width      1.197477e+72
petal length     3.774489e+76
petal width      2.972714e-12
dtype: float64

In [15]:
data.cumsum()

,sepal length,sepal width,petal length,petal width,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,10.0,6.5,2.8,0.4,Iris-setosaIris-setosa
2,14.7,9.7,4.1,0.6,Iris-setosaIris-setosaIris-setosa
3,19.3,12.8,5.6,0.8,Iris-setosaIris-setosaIris-setosaIris-setosa
4,24.3,16.4,7.0,1.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
...,...,...,...,...,...
145,851.6,446.2,543.1,171.8,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
146,857.9,448.7,548.1,173.7,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
147,864.4,451.7,553.3,175.7,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
148,870.6,455.1,558.7,178.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
149,876.5,458.1,563.8,179.8,Iris-setosaIris-setosaIris-setosaIris-setosaIr...